<div ng-controller="dictatorListCtrl as listCtrl">

<div class="container navigationbar">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-pills">
				<li>
					<a href="#/"><img class ="logo" src="img/ebourgeoisielogo.png" /></a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container" >
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row">
				<div class="col-xs-6 col-md-4" ng-repeat="dictator in listCtrl.dictators" ng-hide="clicked">
					<a id="dictatornamelisting" href="#/{{dictator['_id']}}"><div class="thumbnail" ng-style="listingStyle" ng-mouseover="listingStyle={'background-color':'#D3D3D3'}"  ng-mouseleave="listingStyle={'background-color':'white'}">
						<img alt="300x200" src="img/{{$index + 1}}.jpg" />
						<div class="caption">
							<h3 class= "center-block"><a id="dictatorname" href="#/{{dictator['_id']}}">{{ dictator.dictator_name }}</h3>
							<p>Holds that I own: {{dictator.owned_households.length }}</p>
						</div>
					</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
  
</div>