.topbio{
  padding-bottom: 20px;
}

.shortbio {
  padding-top: 9%;
}

div.accordion .panel-default>.panel-heading {
	border-color: ;
	background-color: #E6F1F7;
	font: #567C8F;
}

accordion-heading{
	font-size: 80%;
}

.profileheadings{
	font-size: 130%;
	font-weight: bold;
}

.center-block{
	text-align: center;

}

.navigationbar{
	padding-bottom: 10px;
}

.nav>li.logo{
	margin-right: auto;
	margin-left: auto;
}


a{
	color: red;
}

a:hover{
	text-decoration: none;
}

.dictatorname{
	text-align: center;
}

.smalluserpic>img{
	margin-left: auto;
	margin-right: auto
}

#dictatornamelisting:hover{
	color: red;
}

